
nav{
    background-color: #85b1dc;
    padding: 1rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

nav a:hover{
    text-decoration: underline;
}